.cartContainer {
  position: relative;
  display: inline-block;
}

.cartIcon i {
  font-size: 30px;
  color: #333;
  cursor: pointer;
}

.cartCounter {
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: #ff5722;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 8px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  min-width: 20px;
  height: 24px;
  width: 24px;
  text-align: center;
  line-height: 1;
}
